<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>IoT模块数据采集</title>
<!--    <script src="https://www.itxst.com/package/ag-grid/ag-grid-community.js"></script>-->
    <script src="/static/js/ag-grid-community.js" th:src="@{/static/js/ag-grid-community.js}"></script>
<!--    <link href="https://www.itxst.com/package/ag-grid/styles/ag-grid.css" rel="stylesheet"/>-->
    <link href="/static/css/ag-grid.css" rel="stylesheet" th:href="@{/static/css/ag-grid.css}" />
    <link href="/static/laydate/layui.css" rel="stylesheet"th:href="@{/static/laydate/layui.css}" media="all">

</head>
<body>
<div class="socket" id="socket">
    <strong>连接RabbitMQ消息队列</strong>
    <form action="" method="post" onsubmit="return socketAjax(this)" >
    交换器： <input type="text" name="exchangName" value="direct_IoT">
    <br/>
    路由键： <input type="text" name="routingKey" value="169.254.152.78">
    <br/>
    队列名： <input type="text" name="queueName" value="169.254.152.78"><br/>
    <button type="submit"  >保存信息</button>
    </form>
    <input type="button" value="建立websocket连接" onclick="conectWebSocket()" />
    <input type="button" value="websocket请求队列数据" onclick="send()" />
<!--    <input type="button" value="更新第一行数据" onclick="reset()" />-->
    <input type="button" value="测试数据" onclick="ssc()" />
</div>
<div>
    <input type="button" value="隐藏设置" id="btn" />
</div>


<!--<button type="button" onclick="conectWebSocket()">连接websocket</button>-->


<div id="myGrid" style="width: 100%;height: 500px;"  class="ag-theme-balham"></div>

<!--<div id="message"></div>-->
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">时间范围：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd" lay-key="2">
        </div>

        <div class="layui-form-mid">-</div>

        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="test2" placeholder="yyyy-MM-dd" lay-key="3">
        </div>

        <label class="layui-form-label">设备ID：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="test3" placeholder="" lay-key="4">
        </div>
        <div class="layui-input-inline">
            <input type="button" class="layui-btn" id="test4" value="搜索" lay-key="5" onclick="searchId()">
        </div>

    </div>
</div>

</body>
<script src='/static/js/jquery-3.6.4.js'></script>
<script src='/static/laydate/laydate.js'></script>
<script>
    var formData;
    // var host;
    // var port;
    var exchangName;
    var routingKey;
    var queueName;

    //获取表单数据，建立Netty服务器，接收数据并发送到消息队列
    function socketAjax(form){
        formData = new FormData(form);
        exchangName = formData.get('exchangName');
        routingKey = formData.get('routingKey');
        queueName = formData.get('queueName');

        alert("保存信息成功！")
        // ajax获取表单数据异步处理Netty-Rabbit服务器搭建方式
        // $.ajax({
        //     type: "post",
        //     url: "/Netty/server",
        //     data:{
        //         "host": host,
        //         "port": port,
        //         "exchangName": exchangName,
        //         "routingKey": routingKey
        //     },
        //     success: function(data){
        //
        //     }
        // })
        return false;  //阻止表单默认提交
    }

   // var socketList ={
   //          type: "get",
   //          url: "/Websocket/list",
   //          dataType:'json',
   //          success: function(list){
   //              data = JSON.parse(list);
   //              setTimeout(function (){$.ajax(socketList);},3000);//3秒定时发送请求
   //          }
   //  };
    //与列对应的数据; 属性名对应上面的field
    var data = [
        {
            equipmentId: 'FF',
            status_value: '[0, 1, 1, 0, 0, 0, 0, 0]',
            time: null,
            light:'无',
            di_1:'1',
            di_2:'1',
            di_3:'1',
            di_4:'1',
            di_5:'1',
            di_6:'1',
            di_7:'1',
            di_8:'1',
            original_information: '123123123'
        },
    ];
    var ssc =function () {
        $.ajax({
            url: "/Websocket/list",
            type: "get",
            dataType: 'json',
            success: function (list) {
                // data = JSON.parse(list);
                // console.log(list)
                var arr = [];
                for(var i in list){
                    arr.push(list[i]);
                }
                // for(var i in arr){
                //     data[i].equipmentId = arr[i].equipmentId;
                //     data[i].status_value =arr[i].status_value;
                //     data[i].time = arr[i].time;
                //     data[i].status = arr[i].status;
                //     // data[i].status_value2 = arr[i].status_value2;
                //     // data[i].time2 = arr[i].time2;
                //     // data[i].status2 = arr[i].status2;
                //     data[i].cause = arr[i].cause;
                // }
                data =arr;
                console.log(data);

                gridOptions.api.setRowData (data);
            },

        });
        return ssc;
    }
    //轮询
    // setInterval(ssc(),5000);

    //定义表格列
    var columnDefs = [
        { headerName: '设备ID', field: 'equipmentId','pinned': 'left',width:120 },
        { headerName: '安灯状态', field: 'light' },
        { headerName: '当前状态值', field: 'status_value' },
        { headerName: '时间', field: 'time' },
        { headerName: 'DI-1', field: 'di_1', width: 80 },
        { headerName: 'DI-2', field: 'di_2', width: 80 },
        { headerName: 'DI-3', field: 'di_3', width: 80  },
        { headerName: 'DI-4', field: 'di_4', width: 80  },
        { headerName: 'DI-5', field: 'di_5', width: 80  },
        { headerName: 'DI-6', field: 'di_6', width: 80  },
        { headerName: 'DI-7', field: 'di_7', width: 80  },
        { headerName: 'DI-8', field: 'di_8', width: 80  },
        { headerName: 'original_information', field: 'original_information' },

    ];



    //顶部合计行
    var topRows=[
        {
            equipmentId: 'FF',
            status_value: '[0, 1, 1, 0, 0, 0, 0, 0]',
            time: null,
            light:'无',
            di_1:'1',
            di_2:'1',
            di_3:'1',
            di_4:'1',
            di_5:'1',
            di_6:'1',
            di_7:'1',
            di_8:'1',
            original_information: '123123123'

        },
        {
            equipmentId: 'FE',
            status_value: '[0, 1, 1, 0, 0, 0, 0, 0]',
            time: null,
            light:'无',
            di_1:'1',
            di_2:'1',
            di_3:'1',
            di_4:'1',
            di_5:'1',
            di_6:'1',
            di_7:'1',
            di_8:'1',
            original_information: '123123123'
        },

    ];

    //底部合计行
    var botRows=[
        { equipmentId: '合模次数',
            light:'',
            status_value:''
        }

    ];

    //将列和数据赋给gridOptions
    var gridOptions = {
        rowHeight :30, //设置行高为30px,默认情况下是25px
        // floatingFilter: true, //设置为true直接显示刷选器，如果为false 需要点击列头
        columnDefs: columnDefs,
        rowSelection: 'multiple', //设置多行选中 single 表示只能选中一行
        rowMultiSelectWithClick:true,
        rowDeselection:true,
        rowData: data,

        onGridReady: function () {
            //表格创建完成后执行的事件
            gridOptions.api.sizeColumnsToFit();//调整表格大小自适应
        },
        defaultColDef: {
            editable: true,//单元表格是否可编辑
            enableRowGroup: true,
            enablePivot: true,
            enableValue: true,
            sortable: true, //开启排序
            resizable: true,//是否可以调整列大小，就是拖动改变列大小
            filter: true  //开启刷选
        },
        pagination: true,  //开启分页（前端分页）
        paginationAutoPageSize: true, //根据网页高度自动分页（前端分页）
        pinnedTopRowData:topRows, //顶部合计行
        pinnedBottomRowData:botRows ,//底部合计行
        //**************设置置顶行样式**********
        getRowStyle: function (params) {
            if (params.node.rowPinned) {
                return {'font-weight': 'bold','color':'red'};
            }
        },
    };

    //在dom加载完成后 初始化agGrid完成
    document.addEventListener("DOMContentLoaded", function () {
        var eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);
    });

    //隐藏设置
    function my(id) {
        return document.getElementById(id);
    };
    my("btn").onclick=function(){
        if (this.value =="隐藏设置") {
            my("socket").style.display="none";
            this.value="显示设置";
        } else if(this.value =="显示设置"){
            my("socket").style.display="block";
            this.value="隐藏设置";
        }
    };

    //时间选择器
    //执行一个laydate实例
    laydate.render({
        elem: '#test1', //指定元素
        type: 'datetime'
    });
    laydate.render({
        elem: '#test2', //指定元素
        type: 'datetime'
    });

    function searchId(){
      var equipmentId;
      var startTime;
      var endTime;
      equipmentId = document.getElementById('test3').value;
      startTime = document.getElementById('test1').value;
      endTime = document.getElementById('test2').value;
      if((endTime == null && startTime != null) ||(endTime != null && startTime == null)){
          alert("请选择时间范围");
          return;
      }
        $.ajax({
                type: "get",
                url: "/Websocket/list",
                dataType: 'json',
                data:{
                    "startTime": startTime,
                    "endTime": endTime,
                    "equipmentId": equipmentId
                },
                success: function(list){
                    var arr = [];
                    for(var i in list){
                        arr.push(list[i]);
                    }
                    data = arr;
                    var count = 0;
                    var equipmentId = document.getElementById('test3').value;
                    for(var i=0; i<data.length;i++){
                        if(data[i].di_1 == "1"){
                            count++;
                        }
                    }
                    botRows = [
                        { equipmentId: '合模次数',
                            light: equipmentId,
                            status_value: count
                        }
                    ]
                    gridOptions.api.setPinnedBottomRowData(botRows);
                    gridOptions.api.setRowData(data);

                }
            })
    }




</script>

<script type="text/javascript">
    var websocket = null;
    function conectWebSocket(){
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket'in window) {
            websocket = new WebSocket("ws://localhost:8090/websocket/web");
        } else {
            alert('Not support websocket');
        }
        //连接发生错误的回调方法
        websocket.onerror = function() {
            alert('连接发生错误');
        };
        //连接成功建立的回调方法
        websocket.onopen = function(event) {
            alert("Loc MSG: 成功建立连接");
        }
        //接收到消息的回调方法
        websocket.onmessage = function(event) {
            // alert(event.data);
            // document.getElementById('message').innerHTML += event.data + '<br/>';
            var socketMsg = event.data;
            console.log("111");
            var json = JSON.parse(socketMsg);
            // 写死的位置，位置一对一一个设备\
            if (json.equipmentId == "FF"){
                topRows[0].equipmentId = json.equipmentId;
                topRows[0].status_value =json.status_value;
                topRows[0].time = json.time;
                topRows[0].light = json.light;
                //序列转化，全大写默认改为小写 DI_1——》di_1
                topRows[0].di_1 = json.di_1;
                topRows[0].di_2 = json.di_2;
                topRows[0].di_3 = json.di_3;
                topRows[0].di_4 = json.di_4;
                topRows[0].di_5 = json.di_5;
                topRows[0].di_6 = json.di_6;
                topRows[0].di_7 = json.di_7;
                topRows[0].di_8 = json.di_8;
                topRows[0].original_information = json.original_information;
                console.log(1);
            }
            else if(json.equipmentId == "FE"){
                topRows[1].equipmentId = json.equipmentId;
                topRows[1].status_value =json.status_value;
                topRows[1].time = json.time;
                topRows[1].light = json.light;
                //序列转化，全大写默认改为小写 DI_1——》di_1
                topRows[1].di_1 = json.di_1;
                topRows[1].di_2 = json.di_2;
                topRows[1].di_3 = json.di_3;
                topRows[1].di_4 = json.di_4;
                topRows[1].di_5 = json.di_5;
                topRows[1].di_6 = json.di_6;
                topRows[1].di_7 = json.di_7;
                topRows[1].di_8 = json.di_8;
                topRows[1].original_information = json.original_information;
                console.log(2)
            }
            else {
                alert("未设置设备，请到后台设置。")
            }

            var params = {
                force: true
            };
            gridOptions.api.refreshCells(params);
            // setMessageInnerHTML(event.data);
        }
        //连接关闭的回调方法
        websocket.onclose = function(e) {
            console.log('websocket 断开: ' + e.code + ' ' + e.reason + ' ' + e.wasClean)
            console.log(e)
            // setMessageInnerHTML("Loc MSG:关闭连接");
            alert('关闭连接');
        }
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function() {
            websocket.close();
        }
    }
    //发送消息，websocket接收队列消息
    function send(){
        var socketMsg =
            {
                exchangName:exchangName,
                queueName:queueName,
                routingKey:routingKey
        };

        websocket.send(JSON.stringify(socketMsg));
    }


</script>
<style>
    div.socket{
        width: 500px;
        border-style: solid;
        border-width: 1px;
        border-color: cornflowerblue;
        display: inline-block;

    }
</style>
</html>